* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 100%;
  color: var(--text-secondary);
}

html, body, #app {
  height: 100%;
  width: 100%;
  font-size: 16px;
  overflow: hidden;
  color: var(--text-primary);
  background-color: var(--background-primary);
  font-family: 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  user-select: none;
}

::-webkit-scrollbar {
  width: .3rem;
}

::-webkit-scrollbar-track {
  background-color: var(--background-secondary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--background-tertiary);
  border-radius: .25rem;
  cursor: grab;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-dark);
}

input, textarea {
  background-color: transparent;
}

textarea {
  resize: none;
}

.hide {
  display: none;
}

button {
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  font-size: .8rem;
}

button:hover {
  opacity: 0.6;
}

.flex {
  display: flex;
  align-items: center;
}

.scroll-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.margin-left {
  margin-left: 1rem;
}

.margin-right {
  margin-right: 1rem;
}

.context-menu {
  display: none;
  position: absolute;
  top: 10px;
  left: 1000px;
  border-radius: .25rem;
  background-color: var(--background-secondary);
  border: 1px solid var(--border-color);
}

.context-menu .menu-item {
  line-height: 1.6rem;
  padding: .25rem .5rem;
  width: 100%;
  cursor: pointer;
  font-size: .8rem;
}

.context-menu .menu-item:hover {
  background-color: var(--background-tertiary);
}
