* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 100%;
  color: var(--text-secondary);
}

html, body, #app {
  height: 100%;
  width: 100%;
  font-size: 16px;
  overflow: hidden;
  color: var(--text-primary);
  background-color: var(--background-primary);
  font-family: 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  user-select: none;
}

::-webkit-scrollbar {
  width: .3rem;
}

::-webkit-scrollbar-track {
  background-color: var(--background-secondary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--background-tertiary);
  border-radius: .25rem;
  cursor: grab;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-dark);
}

input, textarea {
  background-color: transparent;
}

textarea {
  resize: none;
}

.hide {
  display: none !important
}

button {
  transition: opacity, color 0.2s ease-in-out;
  cursor: pointer;
  background-color: transparent;
  font-size: .8rem;
}

button:hover {
  opacity: .8;
  color: var(--primary);
}

.flex {
  display: flex;
  align-items: center;
}

.scroll-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.margin-left {
  margin-left: 1rem;
}

.margin-right {
  margin-right: 1rem;
}

.popup {
  position: absolute;
  color: var(--text-primary);
  background-color: var(--background-primary);
  border-radius: .5rem;
  display: inline-block;
  border: 1px solid var(--border-color);
  padding: .25rem;
}

.notyf__ripple {
  background-color: transparent !important;
}

.notyf__wrapper {
  padding: .5rem !important;
}

.notyf__toast--success {
  background-color: var(--background-secondary);
  border: 1px solid var(--border-color);
  border-radius: .25rem;
}

.notyf__toast--success .notyf__message {
  color: var(--success);
}

.notyf__toast--error {
  background-color: var(--background-secondary);
  border: 1px solid var(--border-color);
  border-radius: .25rem;
}

.notyf__toast--error .notyf__message {
  color: var(--danger);
}

.notyf__message {
  font-size: .8rem !important;
}

[data-entity-id] {
  cursor: pointer;
  user-select: text;
  text-decoration: underline;
}

.tu-container .edit .body>p {
  color: var(--text-primary);
}

.tu-container .edit .body>p::before {
  content: '';
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 可选：隐藏整个控件的调节区域 */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
